Django~=5.1.14
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt~=5.5.1
djoser~=2.3.0
django-filter>=23.5,<24.0
Pillow~=12.2.0
psycopg2-binary>=2.9,<3.0
redis>=5.0,<6.0
django-redis>=5.4,<6.0
gunicorn~=22.0.0
python-decouple>=3.8,<4.0
drf-spectacular>=0.27,<0.28
django-cors-headers>=4.3,<5.0
